body {
	margin: 0;
    background: #1F2937;
    font-family: 'Karla';
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
	margin-top: 64px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

h1 {
	font-size: 40px;
    font-weight: 800;
    margin-bottom: 2px;
}

span {
	color: #4ADF86;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 32px;
}
